.App {
  color: white;
}

/* HOME */
.wm-home {
  padding: 0.5rem 1rem;
}

/* NAVBAR */
.navbar {
  min-height: 50px;
  background-color: rgb(20,20,20);
}

.navbar-toggler {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.wm_brand {
  color: #d80a14 !important;
  font-weight: 600;
  font-size: 18px;
}