/* IMPORT LIBRARY */
@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";

/* APP */
.App {
  color: white;
}

/* HOME */
.wm-home {
  padding: 0.5rem 1rem;
}

/* NAVBAR */
.navbar {
  min-height: 50px;
  background-color: rgb(20,20,20);
}

.wm_brand {
  color: #d80a14 !important;
  font-weight: 600;
  font-size: 18px;
}

/* TITLE CAROUSEL */
.wm-title {
  display: inline;
}

/* CAROUSEL */

.wm-car-caption {
  max-width: 185px;
  margin: 7px auto;
}
h6 {
  color: #fff;
  position: relative;
  text-align: center;
}
.variable-width .slick-slide p {
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.center .slick-center h6 {
  opacity: 1;
  transform: scale(1.08);
}
.center h6 {
  opacity: 0.8;
  transition: all 300ms ease;
}
.content {
  padding: 20px;
  margin: auto;
  width: 90%;
  white-space: nowrap;
}
.slick-slide .image {
  padding: 10px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.slick-slide img {
  display: block;
  margin: auto;
  max-height: 260px;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
.slick-vertical .slick-slide {
  height: 180px;
}
.slick-active a:hover {
  outline: #d80a14 auto 1px;
}
.slick-active a:hover img {
  opacity: 0.6;
}
.slick-prev {
  left: 0;
  color: white;
  z-index: 9999;
}
.slick-next {
  right: 0;
  color: white;
}